body {
    background-image: url('bg-stars.svg');
    background-color: hsl(235, 16%, 14%);
}

h1 {
    font-size: 14px;
    font-family: "Red Hat Text", sans-serif;
    color: white;
}

.social-icon {
    padding: 10px;
}

img:hover {
    filter: invert(60%) sepia(47%) saturate(4874%) hue-rotate(312deg)
    brightness(103%) contrast(97%);
}

footer {
    background-image: url(pattern-hills.svg);
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 25vh;
}